/* JSGridConcept.scss */

/*mixins*/
@mixin backfaceHidden {
    -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
       -o-backface-visibility: hidden;
          backface-visibility: hidden;
}
@mixin transformsY($trans,$rotateY){
  -webkit-transform: rotateY($rotateY) translateZ($trans);
     -moz-transform: rotateY($rotateY) translateZ($trans);
       -o-transform: rotateY($rotateY) translateZ($trans);
          transform: rotateY($rotateY) translateZ($trans);
}
@mixin transformsYRev($trans,$rotateY){
  -webkit-transform: translateZ($trans) rotateY($rotateY);
     -moz-transform: translateZ($trans) rotateY($rotateY);
       -o-transform: translateZ($trans) rotateY($rotateY);
          transform: translateZ($trans) rotateY($rotateY);
}
@mixin transformsX($trans,$rotateX){
  -webkit-transform: rotateX($rotateX) translateZ($trans);
     -moz-transform: rotateX($rotateX) translateZ($trans);
       -o-transform: rotateX($rotateX) translateZ($trans);
          transform: rotateX($rotateX) translateZ($trans);
}
@mixin transformsXRev($trans,$rotateX){
  -webkit-transform: translateZ($trans) rotateX($rotateX);
     -moz-transform: translateZ($trans) rotateX($rotateX);
       -o-transform: translateZ($trans) rotateX($rotateX);
          transform: translateZ($trans) rotateX($rotateX);
}
@mixin transZ($trans){
   -webkit-transform: translateZ($trans);
     -moz-transform: translateZ($trans);
       -o-transform: translateZ($trans);
          transform: translateZ($trans); 
}
@mixin perspective($val){
  -webkit-perspective: $val;
         -moz-perspective: $val;
           -o-perspective: $val;
              perspective: $val;
}
/*variables*/
$perspect: 1000px;
$animdur : 0.333s;
$tz : -50px;
$tzpos : 50px;
$maincelheight : 98px;
$faceheight: 96px;
$facefontsize:100px;
/*styles*/
#gridconcept,
#gridconcepttwo,
#gridconceptthree {
  width : 880px;
  margin : 0 auto;
  border : solid 1px red;
  min-height : 660px;
  position: relative;
  perspective: 1000px; 
}
#gridconcepttwo {
  width : 680px;
  min-height : 860px;
}


.cell {
  height :  $maincelheight;
  width : $maincelheight;
  display : block;
  border : solid 1px black;
  float : left;
  position: relative;
  margin: 2px;
  border: 1px solid #CCC;
  @include perspective($perspect);
}
@mixin preserve3d {
   -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
       -o-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
@mixin transitions($dur){
  -webkit-transition: -webkit-transform $dur;
     -moz-transition: -moz-transform $dur;
       -o-transition: -o-transform $dur;
          transition: transform $dur;
}

.cube {
  width: 100%;
  height: 100%;
  position: absolute;
  @include preserve3d;
  @include transitions($animdur); 
}
.cube .face {
    display: block;
    position: absolute;
    width: $faceheight;
    height: $faceheight;
    border: 2px solid black;
    line-height: $faceheight;
    font-size: $facefontsize;
    font-weight: bold;
    color: white;
    text-align: center;
    background-image : inherit;
}

.cube.panels-backface-invisible .face {
  @include backfaceHidden;
}

.cube .front  {
  @include transZ($tzpos);
}

.cube .back   {
  @include transformsY($tzpos,-180deg);
}
.cube .right {
  @include transformsY($tzpos,90deg);
}
.cube .left {
  @include transformsY($tzpos,-90deg);
}

.cube .top {
  @include transformsX($tzpos,90deg);
}
.cube .bottom {
  @include transformsX($tzpos,-90deg);
}

.cube.show-front {
  @include transZ($tz);
}
.cube.show-back {
  @include transformsY($tz,-180deg);
}
.cube.show-right {
  @include transformsYRev($tz,-90deg);
}
.cube.show-left {
  @include transformsYRev($tz,90deg);
}


.cube.show-scroll{
  @include transformsYRev($tz,90deg);
}
.cube.show-scroll1{
  @include transformsYRev($tz,180deg);
}
.cube.show-scroll2{
  @include transformsYRev($tz,270deg);
}
.cube.show-scroll3{
  @include transZ($tz);
}
.cube.show-top {
  @include transformsXRev($tz,-90deg);
}
.cube.show-bottom {
  @include transformsXRev($tz,90deg);
}
/*.cell .face span {
  font-size : 60px;
}*/
h1 {
  font-family: "Helvetica";
  font-size: 40px;
  text-align : center;
}
body {
  background : #ccc;  
}
img.pre {
  height : 1px;
  width : 1px;
  position : relative;
  top : -10000px;  
}